.relatedVideoTitle {
    max-width: 320px;
}

.relatedVideo {
    padding-left: 1em;
}

.allRelatedVideos {
    display: inline-flex;
    max-width: 1280px;
}

.btn btn-danger {
    text-align: center;
}