.comment {
    font-size: 16pt;
}

.reply {
    font-size:12pt;
    text-indent: 2em;
}

.comment-section {
    padding: 2em;
}

.comment-box {
    padding-top: 2em;
}

.reply-box {
    padding-top: 1em;
}
